<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>Logon</title>
		<link rel="stylesheet" href="css/style.css" />
		<!-- <script src="script.js"></script> -->
	</head>
	<body>
		<div class="sapContainer">
			<img class="logo" src="images/sap_logo.png" alt="logo_sap" />
			<div>
				<h3>Le mot de passe a été mis à jour avec succès</h3>
			</div>

			<p class="copyrightSAP">Copyright © 2023 SAP SE All Rights Reserved.</p>
		</div>

		<script src="js/script.js"></script>

	</body>
</html>